<!DOCTYPE html>
<html>

<head>
    <title>OnePunch</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../style/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>

<body>
    <div class="ui grid middle aligned centered">
        <div class="fourteen wide column">
            <h1 style="padding:10px;text-align: center;">Choose your Owl-vatar!</h1>
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="owl_ico" src="../images/owl_ico_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon"  id="1001" src="../images/1001_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1002" src="../images/1002_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1003" src="../images/1003_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1004" src="../images/1004_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1005" src="../images/1005_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1006" src="../images/1006_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1007" src="../images/1007_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1009" src="../images/1009_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1010" src="../images/1010_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1011" src="../images/1011_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1012" src="../images/1012_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1013" src="../images/1013_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1014" src="../images/1014_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1015" src="../images/1015_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="four wide column">
            <img class="ui centered image owlIcon" id="1016" src="../images/1016_64.png" alt="One Punch Icon" style="padding:30px;">
        </div>
        <div class="twelve wide column" style="padding:  0px 5px 0px;">
            <input id="selectedOwl" type="hidden" name="selectedOwl" value="">
            <button id="saveBtn" class="fluid ui purple button">Save</button>
        </div>
    </div>
    <script>
        require('../owlChoice.js');

    </script>
</body>

</html>
