<!DOCTYPE html>
<html>

<head>
    <title>OnePunch!</title>
    <link rel="stylesheet" type="text/css" href="../style/semantic.min.css">
</head>

<body>
    <div class="tabContent ui grid middle aligned centered">
        <div class="twelve wide column">
            <img class="ui centered image" src="../images/owl_ico_128.png" alt="One Punch Icon">
        </div>
        <div class="twelve wide column" id="reminderLine1">
            <h1 style="padding: 50px 0px 0px 0px;text-align: center;;">
                OnePunch
            </h1>
        </div>
        <div class="twelve wide column" id="reminderLine2">
            <p style="padding: 10px 0px 10px 0px;text-align: center;">
                You've helped <span id="dailyPunchCount"></span> people so far today!
            </p>
            <p style="padding: 10px 0px 10px 0px;text-align: center;">
                Keep on punching'!
            </p>
        </div>
    </div>
</body>
<script>
    require('../remindersWindow.js')

</script>

</html>
