<!DOCTYPE html>
<html>

<head>
    <title>OnePunch</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../style/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>

<body>
    <div class="ui grid middle aligned centered">
        <div class="fourteen wide column">
            <h2>Just a couple of things to decide before we get going...</h2>
        </div>
        <div class="fourteen wide column">
            <h2>Data Storage</h2>
        </div>
        <div class="twelve wide column">
            <span id="logFolderName">Choose where you'd like to save logs</span>
        </div>
        <div class="twelve wide column">
            <button id="networkPicker" class="ui primary button fluid">Choose Network Directory</button>
            <button id="googlePicker" class="ui primary button fluid" style="display:none;">Choose Google</button>
            <button id="officePicker" class="ui primary button fluid" style="display:none;">Choose Office</button>
        </div>
        <input id="logPath" type="hidden" name="userSetting" value="">
        <input id="logStrategy" type="hidden" name="userSetting" value="">
        <div class="fourteen wide column">
            <h2>HotKey</h2>
        </div>
        <div class="twelve wide column">
            <div class="field">
                <input type="radio" name="hotKey" value="F9" id="F9" class="ui radio checkbox" checked>
                <label for="F9">F9</label>
            </div>
            <div class="field">
                <input type="radio" name="hotKey" value="Ctrl+F9" id="ctrlF9" class="ui radio checkbox">
                <label for="ctrlF9">Ctrl + F9</label>
            </div>
            <div class="field">
                <input type="radio" name="hotKey" value="Ctrl+Alt+F9" id="ctrlAltF9" class="ui radio checkbox">
                <label for="ctrlAltF9">Ctrl + Alt + F9</label>
            </div>
            <input id="currentHotKey" type="hidden" name="userSetting" value="">
        </div>
        <div class="fourteen wide column">
            <h2>Reminders</h2>
        </div>
        <div class="twelve wide column">
            <div class="field">
                <input type="radio" name="reminders" value=false id="noReminders" class="ui radio checkbox" checked>
                <label for="">None</label>
            </div>
            <div class="field">
                <input type="radio" name="reminders" value="notifications" id="notifyReminders" class="ui radio checkbox">
                <label for="notifyReminders">Notifications</label>
            </div>
            <div class="field">
                <input type="radio" name="reminders" value="popups" id="popUpReminders" class="ui radio checkbox">
                <label for="ctrlAltF9">Pop-Ups</label>
            </div>
        </div>
        <div class="fourteen wide column">
            <h2>Desk</h2>
        </div>
        <div class="twelve wide column">
            <div class="ui input large">
                <input id="deskPicker" class="ui input large" name="userSetting" type="text" placeholder="Enter desk name" />
            </div>
        </div>
        <div class="twelve wide column" style="padding: 20px 0px 5px 0px;">
            <button id="saveBtn" class="fluid ui purple button">Save</button>
        </div>
    </div>
    <script>
        require('../settings.js');

    </script>
</body>

</html>
