<!DOCTYPE html>
<html>

<head>
    <title>OnePunch</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../style/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>

<body>
    <div class="ui grid middle aligned centered">
        <div class="sixteen wide column">
            <h2>Log Folder</h2>
        </div>
        <div class="twelve wide column">
            <span id="logFolderName">Choose a folder...</span>
        </div>
        <div class="twelve wide column">
            <button id="logPicker" class="ui primary button fluid">Choose</button>
        </div>
        <input id="logPath" type="hidden" name="userSetting" value="">
        <div class="sixteen wide column">
            <h2>HotKey</h2>
        </div>
        <div class="twelve wide column">
            <div class="field">
                <input type="radio" name="hotKey" value="F9" id="F9" class="ui radio checkbox" checked>
                <label for="F9">F9</label>
            </div>
            <div class="field">
                <input type="radio" name="hotKey" value="Ctrl+F9" id="ctrlF9" class="ui radio checkbox">
                <label for="ctrlF9">Ctrl + F9</label>
            </div>
            <div class="field">
                <input type="radio" name="hotKey" value="Ctrl+Alt+F9" id="ctrlAltF9" class="ui radio checkbox">
                <label for="ctrlAltF9">Ctrl + Alt + F9</label>
            </div>
        </div>
        <div class="sixteen wide column">
            <h2>Desk</h2>
        </div>
        <div class="twelve wide column">
            <div class="ui input large">
                <input id="deskPicker" class="ui input large" name="userSetting" type="text" placeholder="Enter desk name" />
            </div>
        </div>
        <div class="twelve wide column">
            <button id="saveBtn" class="fluid ui blue button">Save</button>
        </div>
    </div>
    <script>
        require('../settings.js');

    </script>
</body>

</html>
