<!DOCTYPE html>
<html>

<head>
    <title>OnePunch!</title>
    <link rel="stylesheet" type="text/css" href="../style/semantic.min.css">
</head>

<body>
    <div class="tabContent ui grid middle aligned centered">
        <div class="twelve wide column">
            <h1 style="padding: 30px 0px 10px 0px;text-align: center;;">
                OnePunch
            </h1>
        </div>
        <div class="twelve wide column">
            <img class="ui centered image" src="../images/owl_ico_128.png" alt="One Punch Icon">
        </div>
        <div class="fourteen wide column">
            <p style="text-align: center;font-family: monospace;"><strong>v 1.2.0</strong></p>
        </div>
    </div>
</body>

</html>
