<!DOCTYPE html>
<html>

<head>
    <title>OnePunch!</title>
    <link rel="stylesheet" type="text/css" href="../style/semantic.min.css">
</head>

<body>
    <div class="tabContent ui grid middle aligned centered">
        <div class="twelve wide column">
            <h1 style="padding: 30px 0px 10px 0px;text-align: center;;">
                OnePunch
            </h1>
        </div>
        <div class="twelve wide column">
            <img class="ui centered image" src="../images/owl_ico_128.png" alt="One Punch Icon">
        </div>
        <div class="fourteen wide column">
            <p style="text-align: center;"><strong>Here's What's Changed in <span id="appVersion"></span></strong></p>
            <ul>
                <li>Minimizes without quitting when you close the main window. To quit the program right click on the icon in the taskbar and choose quit.</li>
                <li>Program updates now trigger automatic restart.</li>
                <li>Miscellaneous big fixes.</li>
            </ul>
        </div>
    </div>
</body>

<script>
    const {
        app
    } = require('electron').remote;

    const appVersion = app.getVersion();
    document.getElementById('appVersion').textContent = appVersion;

</script>

</html>
