<!DOCTYPE html>
<html>

<head>
    <title>OnePunch!</title>
    <link rel="stylesheet" type="text/css" href="../style/semantic.min.css">
    <style>
        li {
            margin: 0 0 10px 0;
        }
        p {
            font-size: 18px
        }
    </style>
</head>

<body>
    <div class="tabContent ui grid middle aligned centered">
        <div class="twelve wide column">
            <h1 style="padding: 30px 0px 10px 0px;text-align: center;;">
                OnePunch Update
            </h1>
        </div>
        <div class="twelve wide column">
            <img class="ui centered image" src="../images/owl_ico_128.png" alt="One Punch Icon">
        </div>
        <div class="fourteen wide column">
            <p style="text-align: center;"><strong>Here's what's changed in <span id="appVersion"></span></strong></p>
            <ul>
                <li>Choose your own owl-vatar! Change the icon that displays on alerts by clicking on the image on the home screen.</li>
                <li>About page with license and image attribution.</li>
                <li>Added warning to reports function when not connected to shared drive.</li>
                <li>Miscellaneous bug fixes.</li>
            </ul>
        </div>
    </div>
</body>

<script>
    const {
        app
    } = require('electron').remote;
    const appVersion = app.getVersion();
    document.getElementById('appVersion').textContent = appVersion;
</script>

</html>
