body {
    overflow-x: hidden;
    overflow-y: hidden;
}

input.datepicker[type="text"] {
    border-style: solid;
    padding: 0.5em;
}

button#datepicker-button {
    margin-bottom: 3em;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    width: 240px;
    top: 100%;
    left: 50%;
    margin-left: -50px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.selectedOwl {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}

.main-owl {
	position: relative;
	display: inline-block;
}

.main-owl:hover .edit {
	display: block;
}

.edit {
	padding-top: 7px;
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.edit a {
	color: #000;
}
